@model FastFood.Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h1 align="center" class="text-danger">Error!</h1>
<h2 align="center" class="text-danger">Check Your Input DATA and try again!</h2>

<br />
<br />
<br />
<p align="center">
    <a class="btn btn-primary" asp-controller="Orders" asp-action="Create">Back</a>
</p>


